.bio{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  padding: 50px;
}
.avatarbox{
    height: 150px;
    width: 200px;
    background: #eee;
}
.biotext{
    margin-left: 30px;
   p{
    color: #696969;
   }
}