.bio{
    padding: 50px;
   display: grid;
   grid-template-columns: minmax(150px,200px) 300px;
   align-items: center;
   grid-gap: 30px;
  justify-content: center;
}
.avatarbox{
    height: 132px;
    width: 132px;
    
    border-radius: 100%;
    border:6px solid #ff5e3a;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
    }
}
.biotext{
    h2{
        padding: 0;
    }
   ul{
    padding: 0;
    list-style-type: none;
    li{
        color: #696969;
   }
}
}
