.Navigatigon {
  
  width: 100%;
  z-index: 99;
  background: #131313;
  .container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .logo {
      font-size: 5vmin;
      color: #fff;
      letter-spacing: 1.5px;
    }
    .menuLanding,.mainMenu {
      display: flex;
      justify-content: center;
      align-items: center;
      .item {
        margin-left: 10px;
        color: #fff;
        cursor: pointer;
        .login{
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
}

.mobile{
  height: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;
  .stick,.stick::after,.stick::before{
    width: 28px;
    height: 2px;
    background: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-top: -1px;
   margin-left: -14px;
  }
  .stick::after,.stick::before{
    display: block;
    content: "";
  }
  .stick::after{
    transform: translateY(8px);

  }
  .stick::before{
    transform: translateY(-7px);
  }
}
/*
.stickActive{
  height: 0;
  background: #000;
  
}
.stickActive::after{
  transform: rotate(45deg);

}
.stickActive::before{
  transform: rotate(-45deg);
}
*/
