.navigation {
  grid-area: b;
  background:#fff;
  
  ul {
    padding: 0 20px;
   
  }
}

.listitem {

  list-style-type: none;
  padding-top: 20px;

}

.button {
  text-decoration: none;
  font-size: 18px;
  display: inline-block;
  color: #ff5e3a;
  transition: 0.2s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .active{
  color: #464242;
}

.button:hover{
  color: #464242;
  transition: 0.2s ease-in-out;
}

.friendsonline{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .item{
 text-align: center;
    .imgbox{
      height: 30px;
      width: 30px;
      border-radius: 100%;
      background: yellow;
     
    }
    h3{
      font-size: 13px;
    }
  }
}