.form {

    padding: 30px 50px 20px;

    h3 {
        color: #696969;
    }

    textarea {
        box-sizing: border-box;
        padding: 10px 15px;
        width: 100%;
        height: auto;
        resize: none;
        outline: none;

    }

}

.submitbox {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;

}

.submit {
    text-decoration: none;
    background: #88ff28;
    border-radius: 30px;
    padding: 15px 25px;
    color: #696969;
    font-size: 3vmin;
}