.logincontainer {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 20px;
  height: max-content;
  .boxlogin {
    padding: 20px;
    background: #ff8066;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .text {
      color: #fff6ff;
    }
    input {
      outline: none;
      margin: 10px 0;
      padding: 15px 10px;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid #fff;
    }
    .login {
      margin-top: 10px;
      border: none;
      outline: none;
      width: auto;
      padding: 10px 15px;
      background: #fff;
      color: #ff8066;
      cursor: pointer;
    }
    .login:active {
      background: #fff6ff;
    }
  }
}
