@import "./normalaze.scss";
body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

h1,h2,h3,h4{
  padding: 0;
  margin: 0;
}

.Wrapper {
  display: grid;
  grid-template-areas: "a a a""b c c""b c c""b c c";
  grid-template-columns: minmax(min-content,200px) 10fr;
  grid-template-rows: 50px 1fr;

 /* margin: 0 auto;
  max-width: 1440px;*/
}

.content{
  grid-area: c;
  background: #edf2f6;
  padding-bottom: 50px;

}
p{
  font-size: 2vmin;
  color: #fff;
}