h2{
    text-transform: uppercase;
    color:#696969;
    padding-top: 20px;
    padding-left: 30px;
}

.dialog{
    display: grid;
    grid-template-columns:1fr 10fr;
    grid-auto-rows: max-content;
    justify-content: center;
    align-items: center;
    margin: 30px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    .avatar{
        padding-right: 50px;
        text-align: center;
        .boximg{
          margin: 0 auto;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background: #696969;
        border:2px solid #ff5e3a;
        overflow: hidden;
    }
    .name{
        font-weight: 500;
        font-size: 18px;
        text-transform: capitalize;
        display: block;
        color:#ff5e3a;
        padding-top: 10px;
    }
}
    .boxtext{
     
        padding: 10px 15px;
        p{
        font-size: 15px;
        color: #696969;
        }
    }

}

.dialog:hover{
  background: #fff;
    transition: 0.2s ease-in-out;
}

